.container-container {
	position: absolute;
	left: 50%
}

.fan-blade {
	height: 45vh;
	width: 6vw;
	background: #000;
	border-radius: 30% 30% 80% 80%;	
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
}

.fan-blade-1 {
	animation: blade1 1.5s infinite;
	animation-timing-function: linear;
}

.fan-blade-2 {
	animation: blade2 1.5s infinite;
	animation-timing-function: linear;
}

.fan-blade-3 {
	animation: blade3 1.5s infinite;
	animation-timing-function: linear;
}

.fan-container {
	width: 6vw;
	height: 45vh;
	position: relative;
	transform-origin: 50% 100%;
}

.fan-container-1 {
	animation: spin1 1.5s infinite;
	animation-timing-function: linear;
}

.fan-container-2 {
	animation: spin2 1.5s infinite;
	animation-timing-function: linear;
}

.fan-container-3 {
	animation: spin3 1.5s infinite;
	animation-timing-function: linear;
}

@keyframes spin1 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
	
@keyframes spin2 {
	0% {
		transform: rotate(120deg);
	}
	100% {
		transform: rotate(480deg);
	}
}
	
@keyframes spin3 {
	0% {
		transform: rotate(240deg);
	}
	100% {
		transform: rotate(600deg);
	}
}