body {
	background: #000;
	
}
.star {
	position: absolute;
	width: 2px;
	height: 2px;
	background: #fff;
	z-index: 1;
}
.sun {
	content: url("../images/planets/sun.png");
	width: auto;
	height: 12.5%;
	position: absolute;
	top: 45%;
	left: 50%;
	z-index: 2;
	transform-origin: 50% 55%;
	animation: sun-orbit 600s infinite;
	animation-timing-function: linear;
}

@keyframes sun-orbit {
	0% {transform: translate(-50%, -50%) rotate(0deg);}
	100% {transform: translate(-50%, -50%) rotate(360deg);}
}

.mercury {
	content: url("../images/planets/mercury.png");
	width: auto;
	height: 2.1%;
	position: absolute;
	top: 35%;
	left: 50%;
	z-index: 2;
	animation: mercury-orbit 60s infinite;
	animation-timing-function: linear;
	transform-origin: 50% 500%;
}

@keyframes mercury-orbit {
	0% {transform: translate(-50%, -50%) rotate(0deg);}
	100% {transform: translate(-50%, -50%) rotate(360deg);}
}

.venus {
	content: url("../images/planets/venus.png");
	width: auto;
	height: 5.25%;
	position: absolute;
	top: 30%;
	left: 50%;
	z-index: 2;
	animation: venus-orbit 180s infinite;
	animation-timing-function: linear;
	transform-origin: 50% 320%;
}

@keyframes venus-orbit {
	0% {transform: translate(-50%, -50%) rotate(0deg);}
	100% {transform: translate(-50%, -50%) rotate(360deg);}
}